<footer>
    <div class="footer-main-div">
        <div>
            <p><i class="fa-regular fa-copyright"></i> Social Code. All Rights Reserved</p>
        </div>
        <div>
            <ul>
                <%if(locals.user){%>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users/profile/<%=user.id%>">Profile</a></li>
                    <%}%>

            </ul>
        </div>
    </div>
</footer>