<link rel="stylesheet" href="<%= assetPath('css/forgotPassword.css') %>">
<div class="main-div-forgotPassword ">
    <h1>Password Recovery</h1>
    <hr>
    <form action="/users/ResetPassword" method="POST">
        <label for="email">Enter Your Email</label>
        <input type="email" id="email" name="email" required placeholder="abc@gmail.com">
        <button type="submit">Submit</button>
    </form>

</div>