<link rel="stylesheet" href="/css/user_profile.css">

    <p>Your Name is = <%= user.name%> </p> 
    <p>Your Email id is = <%=user.email%> </p> 

    <button><a href="/Users/destroy-session">Sign Out</a></button>