.footer-main-div {
    width: 100%;
    background-color: #757475;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 0 10px;
    // position:fixed;
    // bottom:0px;
    box-sizing: border-box;


    li {
        display: inline-block;
        margin-right: 10px;
    }

    a {
        color: inherit;
    }
}