body {
    background-image: url('https://static1.squarespace.com/static/563982ebe4b0e18cfe9f8d6f/t/578d562fbe6594c9e1379b69/1468880433537/Social_Media_Background.jpg?format=1500w');
    background-size: cover;
    color: white;
}

h1 {
    width: 100%;
    height: 20px;

}