<div>
    <p>Hello <%=resetPasswordUser.user.name%>,</p>
    <br>
    <br>
    <p>Please find the Reset Link to your Social Code Account : <a href="http://localhost:8000/users/passwordReset/<%=resetPasswordUser.accessToken%>">Reset Password</a></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>