body {
  background-image: url("https://img.freepik.com/premium-vector/background-popular-social-media-icons-black-white-colors-youtube-instagram-twitter-facebook-whatsapp-pinterest-snapchat-vimeo-google-skype-viber-others_444390-15173.jpg");
  background-size: cover;
  text-align: left;
}

#home-div {
  display: flex;
  flex-wrap: wrap;
}
#home-div h1 {
  text-align: center;
  width: 100%;
  color: white;
}
#home-div #feed-posts {
  padding-left: 10px;
  color: seashell;
  width: 70%;
  border: 1px solid white;
}
#home-div #feed-posts a {
  color: aqua;
}
#home-div #feed-posts #post-div-container ul {
  padding-left: 0px;
}
#home-div #feed-posts #post-div-container li {
  border: 1px solid white;
  margin: 0px 10px 10px 0px;
  list-style: none;
  padding-left: 10px;
}
#home-div #feed-posts #comment-div-container li {
  border: none;
}
#home-div #user-friends {
  width: 27%;
  padding-left: 20px;
  color: white;
  border: 1px solid white;
}
#home-div #user-friends a {
  color: aqua;
  text-decoration: underline;
}
